.calculator-display {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  font-size: 70px;
  font-weight: normal;
  padding: 10px;
  background-color: black;
  color: white;
  width: 400px;
  height: 100px;
}
