/* All styles for your Card Components live here */

.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}

.card-banner {
  width: 87%;
  height: 340px;
  background-image: url(https://tk-assets.lambdaschool.com/fcd75197-7d12-46ec-bc9e-4130f34822fa_reactbackground.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.card-content {
  width: 87%;
}

.card-content p {
  margin: .6em 0;
}

.card-content h3 {
  margin-bottom: .6em;
}

.card-content a {
  color: gray;
  text-decoration: none;
  display: block;
}
